<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <style>
        body{
    background-image: url("wildwestback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.table{
    
    margin-top: 57px;
    padding-left: 2rem;
    padding-right: 2rem;
}

th{
    color: yellow;
}

td{
    color: white;
}

.nav-item {
    font-family: 'Rye', cursive;
}

    </style> 
    <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> 
    
</head>
<body>
    
        <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: whitesmoke" >
            <a class="navbar-brand" href="#">
                <img src="man-311670.svg" width="30" height="30" alt="Cooles logo"> 
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bountyboard">Bountyboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                </ul> 
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/Logout" value="Logout">Logout</a>
                    </li>
                </ul>              
            </div>
        </nav>
    
    <table class="table table-hover">        
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Spitzname</th>
                <th>Kopfgeld</th>
                <th>Crime</th>             
                <th><form action="/createBounty">
                    <input type="submit" value="Steckbrief erstellen"/>
                </form></th>
            </tr>
        </thead>
        <tbody>    
            <% items.forEach(function(s) { %>
                <tr>
                    <td></td>
                    <td><%= s.name %></td>
                    <td><%= s.nickname %></td>
                    <td><%= s.bounty %></td>
                    <td><%= s.crime %></td>
                    <% }); %>
               </tr>
            
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>