<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    
    <style>
.card{
    background-image: url("https://media.istockphoto.com/photos/wanted-poster-picture-id98328646?k=6&m=98328646&s=612x612&w=0&h=b02OeIHx_lH77h4JSjO41SrggiAnFb4tyyteVUt9IFU=%22");
    background-size: cover;
    background-repeat: no-repeat;
}
 .container{
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.bg-light{
    background-image: url("wildwestback.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}

img{
    vertical-align: middle;
    border-style: none;
}

.text-center{
    text-align: center;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.pb-5, py-5{
    padding-bottom: 3rem !important;
}

.pt-5,py-5{
    padding-top: 3rem !important;
}

*,::after,::before{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-3{
    margin-bottom: 1rem !important;
    padding-left: 15px;
}

.align-items-center{
    align-items: center !important;
}

.justify-content-between{
    justify-content: space-between !important;
}

.d-flex{
    display: flex !important;
}

.d-block{
    display: block !important;
}

.mb-4{
    margin-bottom: 1.5rem !important;
}

.wanted-md-1{
    order: 1;
}

.wanted-md-2{
    order: 2;
}

.col-md-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.h4{     
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.h2{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
.card-body {
  /* The image used */
  background-image: url("http://guatemalago.com/wp-content/uploads/2018/05/Wanted-Poster-Background-Online-Calendar-Templates-Gorgeous-Wanted-Poster-Powerpoint.jpeg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.form-control {
    margin-top: 1%;
}

.btn{
    margin-top: 10%;
}


.nav-item {
    font-family: 'Rye', cursive;
}

.label {
    font-family: 'Rye', cursive;
    margin-top: 10%;
}

.wantedTitle {
    font-family: 'Rye', cursive;

}

    </style>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet"> 
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="createBounty.js"></script>
    
</head>

<body class="bg-light">
        <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: whitesmoke" >
                <a class="navbar-brand" href="#">
                    <img src="man-311670.svg" width="30" height="30" alt="Cooles logo"> 
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bountyboard">Bountyboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                    </ul>                    
                </div>
            </nav>
            <div class="row">
                    <div class="col">
                       
                    </div>
                    <div class="colMid">
                        <div class="card">
                            <div id="login-card" class="card-body text-center">
                                <form action="/createBounty/createNew" method="POST" class="form-signin">
                                        <h1 class="wantedTitle"><strong>Wanted</strong></h1>
                                        <img class="mb-4" src="man-311670.svg" alt="" width="72" height="72">
                                        <div>
                                            <label class="label" for="inputName">Name:</label>
                                            <input type="inputName" id="inputName" name="name" class="form-control" required="" autofocus="" placeholder="Name">
                                        </div>
                                        <div class="div">
                                            <label class="label" for="inputNickname">Spitzname:</label>
                                            <input type="inputNickname" id="inputNickname" name="nickname" class="form-control" required="" autofocus="" placeholder="Spitzename">
                                        </div>
                                        <div class="div">
                                            <label class="label" for="inputBounty">Kopfgeld:</label>    
                                            <input type="inputBounty" id="inputBounty" name="bounty" class="form-control" required="" autofocus="" placeholder="Kopfgeld">
                                        </div>
                                        <div class="div">
                                            <label class="label" for="inputCrime">Verbrechen:</label>
                                            <input type="inputCrime" id="inputCrime" name="crime" class="form-control" placeholder="Verbrechen" required="">
                                        </div>
                                        <button class="btn btn-danger btn-lg btn-primary btn-block" type="submit">Erstellen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>            
            </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>