<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <style>
.pageTitle {
    font-family: 'Rye', cursive;
}

.nav-link {
    font-family: 'Rye', cursive; 
    color: white;  
    
}

.display-4 {
    font-family: 'Rye', cursive;
}

.lead {
    font-family: 'Rye', cursive;
}

.mastfoot {
    text-align: center;
}

.card-body {
    background-color: whitesmoke;
}

.mainBody  {
    background-image: url('wildwestback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

html { 
    scroll-behavior: smooth;
} 
.guide {
    font-family: 'Rye', cursive;
}
        </style>
        <title>Bountyboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        

        <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet"> 
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body class="mainBody">       
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: whitesmoke" >
                <a class="navbar-brand" href="#">
                    <img src="man-311670.svg" width="30" height="30" alt="Cooles logo"> 
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bountyboard">Bountyboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#login-card">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
                <h1 class="display-4">Wild. Wild. West.</h1>
                <p class="lead">Willkommen auf dem Bounty Board!</p>
                <p class="guide">Auf dieser Seite können Sie Kopfgelder erstellen und annehmen. Nachdem Sie sich mit ihrem Account einloggen können Sie auf das Bountyboard und das Leaderboard, wo alle zurzeit aktiven Account gelistet und gegeneinander geranked werden, zugreifen und dort mit dem "Bounty erstellen" Kopf eine neue Bounty erstellen. Desweiteren können Sie bereits bestehende Bounties annehmen und erledigen um das ausgeschriebene Kopfgeld zu erhalten und auf dem Leaderboard aufzusteigen.</p>
                <a href="https://github.com/J-Kupfer/IProg_project" class="btn btn-info" role="button">Learn more</a>

            </div>
            <div class="row">
                <div class="col">
                   
                </div>
                <div class="col">
                    <div class="card">
                        <div id="login-card" class="card-body text-center">
                            <form action="/users/login" method="POST" class="form-signin">
                                    <img class="mb-4" src="man-311670.svg" alt="" width="72" height="72">
                                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                                    <label class="sr-only" for="inputUsername">Username</label>
                                    <input type="inputUsername" id="inputUsername" name="name" class="form-control" required="" autofocus="" placeholder="Username">
                                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" value="remeber-me">
                                            Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>            
        </div>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>
                    Made with
                    <a href="https://getbootstrap.com/">Bootstrap</a> 
                    , by 
                    <a href="https://steamcommunity.com/groups/despacitogang"> Despacito Gang</a>
                    .
                </p>
            </div>
        </footer>
        




        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>