body{
    background-image: url("saloon.jpg");
    background-repeat: repeat;   
    background-size: auto; 
}

.table{
    
    margin-top: 57px;
    padding-left: 2rem;
    padding-right: 2rem;
}

th{
    color: yellow;
}
