body{
    background-position-x: center;
    background-image: url("background2.jpg");
    background-repeat: no-repeat;   
    background-size: cover;     
}

.img-thumbnail{
    display: block;
    margin-left: 900px;
    margin-top: 60px;
    width: 25%;    
}

.panel{
    margin-left: 50px;    
}

.table{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20%;
}

