.pageTitle {
    font-family: 'Rye', cursive;
}

.nav-link {
    font-family: 'Rye', cursive; 
    color: white;  
    
}

.display-4 {
    font-family: 'Rye', cursive;
}

.lead {
    font-family: 'Rye', cursive;
}

.mastfoot {
    text-align: center;
}

